
@{
    ViewData["Title"] = "榕沛社區訂房管理系統 - 登入";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<body>
    <div class="index-box">

        <form class="index-form">
            <h2 class="fz2 tac m15010">試住訂房管理系統</h2>
            <div class="form-group flex-jcc fz125 m15010">
                <label for="exampleInputEmail1" class="m0 lh38px">帳號：</label>
                <input type="email" class="form-control w60" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group flex-jcc fz125">
                <label for="exampleInputPassword1" class="m0 lh38px">密碼：</label>
                <input type="password" class="form-control w60" id="exampleInputPassword1" placeholder="">
            </div>
            <div class="form-group form-check flex-jce m0">
                <input type="checkbox" class="form-check-input mr100px w1 h1" id="exampleCheck1">
                <label class="form-check-label mr45px fz1" for="exampleCheck1">記住我</label>
            </div>
            <div class="flex-jcc m1rem0">
                <a class="btn btn-info" style="width:100px" href="/tryPet/List">登入</a>
            </div>

        </form>
    </div>
    <script>

            // function a(){
            //     consloe.log(document.body.clientWidth);
            //     consloe.log(document.body.clientHeight)
            // }
            // a();


    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>



