.title{
    font-size: 35px;
    margin-top: 25px;
    
}
.titleouter{
    text-align: center;
    /* border: tomato solid 1px; */
    margin-bottom: 15px;
}
.member{   
    background-color: lightcyan;
    margin-top: 25px;
    margin-bottom: 15px;    
    border:rgba(136, 123, 123, 0.74) solid 1px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);    
}
.basic1{
    /* width: 400px; */
    padding: 10px;
}
.persontitle{
    font-size: 25px;
}
.reset{
    font-size: 15px;
}

.nav{
    width: 200px;

 /* background-color: antiquewhite; */
 border: black solid 1px;
}