/* <!-- 活動選擇按鈕  --> */
.actselectbtn {
    margin-top: 2%;
    font-size: 2rem;
    height: 50px;
    width: 200px;
    text-align: center;
    background: #ccc;
    color: #000;
    display: inline-block;
  }
  .testbtn{
    margin-left: 3%;
   
  }
  .bar-block {
    margin-bottom: 20px;
  }
  .actselectbtncolor {
    background: gray !important;
    color: #fff !important;
  }
/* <!-- 活動選擇按鈕2  --> */
 
  .actselect2{
    float: left;
  }

  .actselectul2 {
    list-style-type:none;
    clear: both;
    width: 200px; 
  }
  .actselectul2 li{
    height: 50px;
    width: 150px; 
  }
  .actselectul2 li:hover{
    background-color: rgb(225, 226, 224);
  }
  .actselectul2 li a{
    display:inline-block;
    height: 50px;
    width: 150px; 
  }
  .actselectul2 li a:hover{
    color: #000;
    text-decoration:none
  }
  .actselectbtn2 {
    font-size: 1.5rem;
    color: gray; 
  }
  .actselecttitle2{
    font-size: 1.5rem;
    margin-bottom: 20%;
   
  }
  .bar-block2 {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 100px;
    
    
  }

  .actselectbtncolor2 {
    color: black !important;
  }
