
@{
    ViewBag.Title = "Environment";
    Layout = "~/Views/Shared/_Layout_env.cshtml";
}

<div>
    <div class="carouselFlexSet">
        <div id="carouselExampleSlidesOnly" class="carousel slide carouselWid carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="imgWidthEnd">
                        <img src="~/Content/images/enviro_community.jpg" class="d-block w-100">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="imgWidthEnd">
                        <img src="~/Content/images/enviro_garden.jpg" class="d-block w-100">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="imgWidthCenter">
                        <img src="~/Content/images/enviro_coffee23.jpg" class="d-block w-100">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="imgWidthCenter">
                        <img src="~/Content/images/enviro_gym.jpg" class="d-block w-100">
                    </div>
                </div>
            </div>
            <div class="env_bigTitle">
                <p>長青的關鍵<br>環境、飲食、運動<br>一應俱全</p>
            </div>
        </div>
    </div>
    <div class="container max_conatiner">
        <div class="row justify-content-between marginBottomMain">
            <div class="mr-4">
                <div class="mb-5">
                    <h2 class="bigFont">關於 榕沛社區</h2>
                    <h2>About　-Long Life with Pet-</h2>
                </div>
                <div class="divIntro">
                    <p>
                        七浦建設は地元大田原市を中心とした栃木県北地域の、企業・官公庁から個人のお客様まで、民間・公共にかかわらず、様々な工事に携わっています。<br>
                        お客様とのお付き合いは「引渡したら終わり」ではなく、「お引き渡しが始まり」と考え、LCM（ライフサイクルマネジメント）の視点に立った、きめ細やかなアフターフォロー体制により、企業・個人を問わずリピーターを増やしております。
                    </p>
                </div>
            </div>
            <div class="longImgHeight1 mr-5">
                <img src="~/Content/images/about-01.jpg" height="700px">
            </div>
            <div class="longImgHeight2">
                <img src="~/Content/images/about-02.jpg" height="700px">
            </div>
        </div>
        <div class="row">
            <div class="mb-5">
                <h2 class="bigFont">關於 社區服務項目</h2>
                <h2>About　Services</h2>
            </div>
        </div>
    </div>

    <div class="marginBottomMain">
        <div class="serviceDiVSet marginBottomService">
            <div class="serviceImgSet">
                <img src="~/Content/images/enviro_community.jpg" width="900px">
            </div>
            <div class="serviceFontSet">
                <div>
                    <div>
                        <h3 class="serviceTitleFont">
                            酪梨蕃茄鮪魚水煮蛋沙拉
                        </h3>
                    </div>
                    <div class="serviceContentFont">
                        <p>
                            本週重點：水果入菜酸甜美味<br>
                            這週的菜單依然相當澎湃，運用多種當季便宜、新鮮的食材，做出好吃又零失敗的簡易家常菜，再也不用煩惱每日菜色問題，跟著我們一週菜單的安排<br>
                            讓你準備更加省時省力，天天輕鬆煮晚餐喔！
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="serviceDiVSet marginBottomService">
            <div class="serviceImgSet">
                <img src="~/Content/images/enviro_garden.jpg" width="900px">
            </div>
            <div class="serviceFontSet">
                <div>
                    <div>
                        <h3 class="serviceTitleFont">
                            番茄燉牛肉
                        </h3>
                    </div>
                    <div class="serviceContentFont">
                        <p>
                            誰需要一週菜單？<br>
                            立志親手煮晚餐，卻不知道如何開始<br>
                            經常煮晚餐，但菜色逐漸一成不變<br>
                            經常煮晚餐，但菜色逐漸一成不變，生活忙碌，想省下規劃菜色與採買時間
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="serviceDiVSet marginBottomService">
            <div class="serviceImgSet">
                <img src="~/Content/images/enviro_coffee23.jpg" width="900px">
            </div>
            <div class="serviceFontSet">
                <div>
                    <div>
                        <h3 class="serviceTitleFont">
                            蜂蜜檸檬雞肉
                        </h3>
                    </div>
                    <div class="serviceContentFont">
                        <p>
                            一週菜單的特色<br>
                            運用當季食材，百變多元菜單<br>
                            食譜步驟簡單，搭配建議做菜順序，上菜更快速<br>
                            週末精選人氣烘焙、異國菜色、節慶美食等特別料理
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="serviceDiVSet marginBottomService">
            <div class="serviceImgSet">
                <img src="~/Content/images/enviro_gym.jpg" width="900px">
            </div>
            <div class="serviceFontSet">
                <div>
                    <div>
                        <h3 class="serviceTitleFont">
                            一週菜單天天瀏覽
                        </h3>
                    </div>
                    <div class="serviceContentFont">
                        <p>
                            VIP 進階內容<br>
                            獨享食材採買清單，買菜不怕漏，食材一次用完不怕剩，週週推薦食材處理、料理秘訣等實用必看文章<br>
                            菜單不限當日瀏覽任你看，上百週不重複菜單一次擁有
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="marginBottomMain">
        <div style="display: flex; justify-content: center; ">
            <div class="mb-5" style="width: 500px;">
                <h2 class="bigFont" style="text-align: center;">社團總覽</h2>
                <h2 style="text-align: center;">Clubs</h2>
            </div>
        </div>
        <div style="display: flex; justify-content: center; ">
            <div style="width: 70%;">
                <div class="glider-contain multiple ">
                    <button class="glider-prev">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                    <div class="glider env_glider">
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <button class="glider-next">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                    <div id="dots" class="glider-dots"></div>
                </div>
            </div>
        </div>
    </div>


    <div style="display: flex; justify-content: center; ">
        <div class="mb-5" style="width: 500px;">
            <h2 class="bigFont" style="text-align: center;">交通資訊</h2>
            <h2 style="text-align: center;">Traffic Information</h2>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3623.4257479946746!2d121.76094641487738!3d24.74658765590689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3467e4e09bac9847%3A0x2bc886a059a740c2!2zMjYw5a6c6Jit57ij5a6c6Jit5biC6Zm95piO6LevMTMy5be3!5e0!3m2!1szh-TW!2stw!4v1595389791012!5m2!1szh-TW!2stw"
                width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
    </div>
    <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <div class="transButton">
            <div style="height: 25px;">
                <p>前往交通方式頁面→</p>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div class="endInfoDiv1">
            <i class="fas fa-map-marker-alt fa-2x endIconMargin1"></i>
            <p class="endInfoFont">宜蘭縣宜蘭市陽明路132巷</p>
        </div>
    </div>
    <div style="display: flex; justify-content: center; ">
        <div class="endInfoDiv2">
            <i class="fas fa-phone-alt fa-2x endIconMargin2"></i>
            <p class="endInfoFont">02-12345678</p>
        </div>
    </div>
</div>
