
@{
    ViewBag.Title = "Inside";
}

<div class="content">
    <div class="contentphoto">
        <img src="images/plant.jpg" alt="">
    </div>
    <div class="contenttitle">
        <span class="date">
            <span class="datemonth">7月</span>
            <span class="dateday">23號</span>
        </span>
        <div class="cttitle">草頭娃娃製作</div>
        <div class="cthost">園藝社主辦</div>
        <div class="ctdatetime">7月23號上午9:00~7月23號上午12:00</div>
        <div class="hosthttp">主辦方網站 <a href="http://localhost:8080/plantclub.html">http://localhost:8080/plantclub.html</a></div>
    </div>
</div>
<!-- 詳情 -->
<div class="details">
    <div class="detailinside">
        <h4>詳情</h4>
    </div>

</div>
<!-- 參加人員Participants -->
<div class="Participants">
    <div class="Participantsinside">
        <h4>參加人員</h4>
    </div>
</div>
