    /* 購物車 */
#class4 {
    height: 600px;
  }

  .shoppingcart {
    margin-top: 2%;

  }

  .shoppingcart-table {
    font-size: 1.5rem;
    width: 800px;
    height: 300px;
    background-color: white;
  }

  .shoppingcart-tr {
    border: 1px solid black
  }